/*html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}*/
body {
    overflow:hidden;
}
::-webkit-scrollbar{
    display: none;
}
.checklist {
    width: 100%;
    margin: 0 auto;
    max-width: 1360px;
    height: 100vh;
}

label {
    margin-bottom: 0 !important;
}

.checklist img {
    max-height: 200px;
}

#frm_encuesta {
    width: 100%;
}

.container-flex {
    display: flex;
    flex-flow: row wrap;
    /* alineacion vertical */
    align-items: center;
    /* alineacion horizontal */
    justify-content: center;
    width: 100%;
}
#pantalla_principal img{
    width: 100% !important;
    height: 100vh;
}
.borde{
position: absolute;
top: 0px;
left: -10px;
}